@font-face {
  font-family: 'Manrope';
  src: url("./assets/fonts/Manrope-VariableFont_wght.ttf") format('truetype-variations');
  font-weight: 500 700;
}

:root {
  --color-white: hsl(0, 0%, 100%);
  --color-grey-200: hsl(210, 46%, 95%);
  --color-grey-400: hsl(212, 23%, 69%);
  --color-grey-500: hsl(214, 17%, 51%);
  --color-grey-900: hsl(217, 19%, 35%);

}

body {
  font-family: 'Manrope', sans-serif;
  line-height: 140%;
  letter-spacing: .12px;
  font-weight: 500;
  background-color: var(--color-grey-200);
  align-content: center;
}

h1 {
  font-size: 1.25rem;
  line-height: 130%;
  letter-spacing: 0.25px;
  font-weight: 700;
  color: var(--color-grey-900);
}

p {
  font-size: 0.8125rem;
  color: var(--color-grey-400);
  line-height: 140%;
}

main {
  background-color: var(--color-white);
  max-width: 327px;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin: auto;
  border-radius: 10px;
  position: relative;
}

.hero {
    overflow: clip;
    height: 200px;
    align-items: center;
    border-radius: 10px 10px 0 0;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 0 -244px;
    }
}

.main_text {
  display: grid;
  gap: 3rem;
  max-width: 267px;
  margin: auto;
  margin-bottom: 1.125rem;
  position: relative;
  align-content: center;
}

.main__section {
  display: grid;
  gap: 1rem;
}

.main__footer {
  gap: 4rem;
}

.footer__content {
  display: grid;
  gap: 1rem;
  grid-template-columns: auto auto;
  align-items: center;
  justify-content: space-between;
}

.footer {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.footer__heading {
    color: var(--color-grey-900);
    font-weight: 700;
  }

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.share_icon {
  width: 32px;
  height: 32px;
  align-content: center;
  justify-items: center;
  background-color: var(--color-grey-200);
  border: 0;
  border-radius: 50%;
  anchor-name: --share-button;
  > .icon {
      position: relative;
      top: -1px;
  }

}

.share_popup {
  border: 0;
  position: absolute;
  position-anchor: --share-button;
  inset: auto;
  top: anchor(top);
  right: anchor(right);
  margin-inline-end: -30px;
  margin-block-start: -23px;
  gap: 1rem;
  align-items: center;
  background-color: var(--color-grey-900);
  border-radius: 0 0 10px 10px;  
  justify-content: space-between;
  padding: 1.375rem 1.875rem;
  width: 100%;
  max-width: 327px;
}

.share_popup:popover-open {
  display: flex;
}

.share__content {
  display: flex;
  gap: 1.5rem;
  flex: 1;

  > p {
    line-height: 140%;
    letter-spacing: 3.25px;
    color: var(--color-grey-400);
    /* 
    font-weight: 700;
    padding: 1rem; */
  }

}

.share__socials {
  display: flex;
  gap: 1rem;
  
}

.share_popup .share_icon {
    background-color: var(--color-grey-500);
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

@media (min-width: 768px) {
  main {
    
    max-width: 608px;
    max-height: 346px;
    flex-direction: row;
  }

  .hero {
    height: 100%;
    max-width: 229px;
    border-radius: 10px 0 0 10px;

    > img {
      object-fit: none;
      object-position: left bottom;   
    }
  }

  .main_text {
    min-width: 311px;
    margin-block: auto;
    margin-inline: 0 2.25rem;
    gap: 1.5rem;
  }

  .main__section {
    gap: 1.5rem;
  }

  .share_icon {
    margin-right: 3px;
  }

  .share_popup {
    height: 56px;
    width: 248px;
    border-radius: 10px;
    /* padding: 1.125rem 2.375rem; */
    
    margin: 0;
    margin-block-end: 30px;
    margin-inline-end: -95px;
    inset: auto;
    bottom: anchor(top);
    right: anchor(right);
    padding-block: 0;
    padding-inline: 2.375rem;
    overflow: visible;

    &::before {
      content: "";
      background-color: var(--color-grey-900);
      transform: rotate(45deg);
      position: absolute;
      bottom: -12px;
      margin: 0 35%;
      width: 24px;
      height: 24px;
    }

    > .share_icon {
      display: none;
    }
  }

}

@media (min-width: 1440px) {
  main {
    max-width: 730px;
    max-height: 280px;
    gap: 2.5rem;
  }

  .hero {
    max-height: 280px;
    min-width: 285px;
  }

  .main_text {
    min-width: 365px;
    margin-inline-end: 2.5rem;
  }

}